.title {
	font-size: 2.5em;
	margin-bottom: 0.5em;
}

#circle {
   border: 3px solid;
   background-color: white;
}

.menu-item:hover {
    color: var(--main-color);
}

.secondary-menu-item {
    color: var(--secondary-color);
}

.secondary-menu-item.architecture:hover {
    color: var(--architecture-color);
}

.secondary-menu-item.design:hover {
    color: var(--design-color);
}

.secondary-menu-item.art:hover {
    color: var(--art-color);
}

.secondary-menu-item.publications:hover {
    color: var(--main-color);
}

.secondary-menu-item.about:hover {
    color: var(--main-color);
}

.secondary-menu-item.contact:hover {
    color: var(--main-color);
}
