html {
	--main-color: #231f20;
	--secondary-color: #918f8f;
	--architecture-color: #0000ff;
	--design-color: #ff0000;
	--art-color: #ffed00;
}

ul {
	padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	overflow-y: hidden;
}

.page {
	display: grid;
	grid-template-columns: 20% auto;
	grid-template-rows: auto 30%;
	height: 100vh;
}

#menu-wrapper {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	padding-left: 10%;
}

#circle-wrapper {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	text-align: center;
	align-self: center;
}

#main-menu {
	grid-row: 1 / 2;
}

#bottom-menu {
	padding-left: 10%;
	padding-bottom: 10%;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	align-self: end;
}

h1 {
    font-size: 2.5em;
    color: var(--main-color);
    margin-bottom: 0;
}

#circle {
	height: 80vmin;
	width: 80vmin;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.2s ease, border 0.2s ease;
	-webkit-transition: background-color 0.2s ease, border 0.2s ease;
	-o-transition: background-color 0.2s ease, border 0.2s ease;
	-moz-transition: background-color 0.2s ease, border 0.2s ease;
}

#hub {
	height: 98vmin;
    width: 98vmin;
	transform: translate(-7vmin, -10vmin);
	margin-left: auto;
	margin-right: auto;
	display: block;
	transition: opacity 0.2s ease, border 0.2s ease;
    -webkit-transition: opacity 0.2s ease, border 0.2s ease;
    -o-transition: opacity 0.2s ease, border 0.2s ease;
    -moz-transition: opacity 0.2s ease, border 0.2s ease;
}

.menu-item, .secondary-menu-item {
    font-size: 1.2em;
    transition: color 0.2s ease, font-size 0.2s ease, opacity 0.2s ease;
    -webkit-transition: color 0.2s ease, font-size 0.2s ease, opacity 0.2s ease;
    -o-transition: color 0.2s ease, font-size 0.2s ease, opacity 0.2s ease;
    -moz-transition: color 0.2s ease, font-size 0.2s ease, opacity 0.2s ease;
}
