<!DOCTYPE html>

<html lang='fr'>
	<head>
		<meta charset='utf-8'>
		<title>Edgar Jayet</title>
		<meta name='description' content='Edgar Jayet'>
		<meta name='author' content='Edgar Jayet'>
		<link rel='stylesheet' href='{{ site.baseurl }}/css/styles.css?v=1.0'>
		<link rel='stylesheet' href='{{ site.baseurl }}/css/main.css?v=1.0'>
	</head>

	<body>
		<div class='page'>
			<div id='menu-wrapper'>
				<h1><a href='/' title='Homepage'>Edgar Jayet</a></h1>
				<nav id='main-menu'>
					<ul>
						<li class='category'>{{ page.category }}</li>
						<li class='subcategory'>{{ page.subcategory }}</li>
						<li class='title'>{{ page.title }}</li>
						<li class='text'>{{ content }}</li>
				</nav>
			</div>
			<nav id='bottom-menu'>
				<ul>
					{% for category in site.data.tree %}
						{% if category.name != page.title %}
							<li><a href='{{ site.baseurl }}/{{ category.name | downcase | url_escape }}' title='{{ category.name }}' class='bottom-menu-item {{ category.name | downcase }}'>{{ category.name }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</div>

		<style>
			{% assign category = page.title | downcase %}
			.category, .title, .text {
				color: var(--{{ category }}-color);
			}

			.menu-item {
				color: var(--{{ category }}-color);
			}

			.bottom-submenu-item {
				color: var(--{{ category }}-color);
			}
		</style>

	</body>
</html>
